doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
        link(rel="stylesheet", href="/public/css/style.css")
    body
        header
            h1 Noom
        main
            div#welcome
                form#login
                    input(placeholder="room name", type="text", required)
                    input(placeholder="nick name", type="text", required)
                    button#room Enter room
            div#call(hidden)
                div#myStream
                    video#myFace(width="400", height="400", autoplay, playsinline)
                    button#voice Voice Off
                    button#camera Camera Off
                    select#cameras
                div#peerStream
                    video#peerFace(width="400", height="400", autoplay, playsinline)
            div#chat(hidden)
                form#message
                    input(placeholder="Please enter a message", type="text", required)
                    button#room Enter
                ul#messageList
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")