html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #333333;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

input {
	margin: 0px;
}

button {
	background-color: #645CBB;
	border: none;
}

body {
	display: flex;
	flex-direction: column;
	height: 95%;
	width: 100%;
}

header {
	margin-top: 48px;
	margin-bottom: 36px;
}

h1 {
	color: #A084DC;
	text-align: center;
	font-weight: 600;
	font-size: 60px;
	letter-spacing: 6px;
}

main {
	padding: 0px;
}

#login {
	width: 360px;
}

#login input {
	height: 45px;
	width: 360px;
	font-size: 16px;
	margin: 12px 0px;
}

#login button {
	width: 360px;
	font-size: 16px;
}

#contents {
	display: flex;
	flex-direction: column;
}

#call {
	display: flex;
	flex-direction: row;
}

#call div {
	margin: 0px 20px;
}

#options {
	display: flex;
	flex-direction: column;
}

#buttons {
	display: flex;
	flex-direction: row;
	margin: 4px 0px;
}

#buttons button {
	width: 240px;
	font-size: 16px;
	margin: 0px 5px;
}

#selects select {
	height: 36px;
	width: 240px;
	margin: 15px;
}

#chat {
	display: flex;
	flex-direction: column;
}

#message {
	display: flex;
	flex-direction: row;
}

#message input {
	height: 36px;
	width: 480px;
	margin: 12px 5px;
}

#message button {
	height: 36px;
	width: 90px;
	padding: 0px;
	margin: 12px 5px;
}

#messageList {
	width: 480px;
}

#messageList li {
	padding: 4px;
}

[hidden] {
	display: none !important;
}

::-webkit-scrollbar {
	display:none;
}